/* Variables */

:root {
    --basic-red: #EE3643;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-white: #FFFFFF;
    --basic-grey: #3D546F;
    --basic-green: #63A63E;
    --basic-success: #5FBB2D;
    --basic-error: #BA2732;
  
    --special: #FFBF47;
  }   
  body {
      padding: 0px;
      margin: 0 auto;
      font-family: Cuprum, sans-serif;
      font-style: normal;
      width: 1200px;
      background: #FFFFFF;
      padding-left: 130px;
      padding-right: 130px;
  }  

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

 h1, h2, h3, h4, h5,h6 {
  text-transform: uppercase;
 }

 .header {
  background: #F1F5F7;
  position: relative;
  
 }

  .header-menu {
    background: #293449; 
    font-family: Cuprum, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 130px;
    padding-right: 130px;
    box-sizing: border-box;
    list-style-type: none;

  } 
  .menu-logo {
  }  
  .menu-search {
    padding-left: 367px;
    
  } 
  .header-section {
    padding-left: 130px;
    padding-right: 130px;
    
    
    
  } 
  
  .header-section-menu {
    padding-left: 130px;
    padding-right: 130px;
    
  }
  .section-items {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    position: absolute;
    align-items: stretch;
    background: #32425C;
    box-shadow: inset 0px -5px 0px #293449;
    padding-top: 16px;
    padding-bottom: 20px;
    color: #FFFFFF;
    list-style-type: none;
    


  }
  .main-blocks {
    padding-left: 130px;
    padding-right: 130px;
    list-style-type: none;
    
  }
  .slider {
    
  }

  .catalog-list {
    background: #F9F5F0;
    height: 89px;
    padding-left: 130px;
    padding-right: 130px;
    list-style-type: none;
    
  }
  .section-companies {
    background: #F9F5F0;
    height: 89px;
    padding-left: 130px;
    padding-right: 130px;
    list-style-type: none;
    
  }
  .box-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 220px);
    gap: 10px; 
    list-style-type: none;
    
  }

  .box-item {
    object-fit: contain;
    background-color: #FFFFFF;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    position: absolute;
  
  }

  .section-services {
    background: #F1F5F7;
    height: 522px;
    padding-left: 130px;
    padding-right: 130px;
    
    
  }
  .section-about {
    padding-left: 130px;
    padding-right: 130px;
    
  }
  .footer-menu {
    padding-left: 130px;
    padding-right: 130px;
    list-style-type: none;
    
  }
  .footer-items {
    font-family: Cuprum, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFD180;
    list-style-type: none;
  }
  .main-breadcrumbs {
    text-transform: uppercase;
  }
  .main-filters {

  }
  .products {

  }